@model IEnumerable<string>

<table>
    <tbody>
        @foreach (string abc in Model)
        {
            <tr>
                <td>
                    @abc
                </td>
            </tr>
        }
    </tbody>
</table>